.value {
  margin: 0;
  font-size: var(--font-lg);
  font-weight: var(--font-weight-extrabold);
  color: #84cc16;
}

.message {
  margin: 0;
  text-wrap: wrap;
}

.graphicWrapper {
  width: 8rem;
  height: 5rem;
  align-self: center;
  overflow: hidden;
  line-height: 1;
}
