.fearGredValue {
  margin: 0;
  font-size: var(--font-lg);
  font-weight: var(--font-weight-extrabold);
  color: #84cc16;
}

.fearGredMessage {
  margin: 0;
  font-size: var(--font-sm);
  font-weight: var(--font-weight-normal);
  text-wrap: wrap;
  color: #6b7280;
}

#circularBarWrapper {
  width: 8rem;
  height: 5rem;
  align-self: center;
  overflow: hidden;
  line-height: 1;
}
