.sectionWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.colorBlue {
  color: var(--color-blue);
}

.svgWraper {
  color: var(--color-white);
  width: 10rem;
  margin: 0;
}

.svgWraper svg {
  width: 100%;
  display: block;
}

.banner.banner {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 24px 24px 0px 0px;
  border-width: 0.1rem 0.1rem 0rem 0.1rem;
  padding: 1rem;
}

.liveWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: var(--font-lg);
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  background-color: #22c55e;
  border-radius: 50%;
  border: 0.2rem solid #365952;
}
