.sectionWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.banner.banner {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 20px 20px 0px 0px;
}

.liveWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBase {
  font-size: var(--font-base);
}

.dot {
  width: 1rem;
  height: 1rem;
  background-color: #22c55e;
  border-radius: 50%;
  border: 0.2rem solid #365952;
  margin-right: 0.4rem;
}
