.spaceBetweenContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  margin: 0;
}

.spaceBetweenContainer p {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-bold);
}

.rsiBar {
  display: block; /*by default is display: inline, inline elements ignore height and weight properties*/
  width: 100%;
  -webkit-appearance: none; /*same as appearance:none but targhets older browsers*/
  appearance: none; /*without it some browsers may ignore custom colors*/
  overflow: hidden;
  height: 1rem;
  border-radius: 1rem;
  background-color: #1f2937;
  margin: 0.5rem 0;
}

.rsiBar::-webkit-progress-bar {
  background-color: #1f2937;
  height: 1rem;
}

.rsiBar::-webkit-progress-value {
  background-color: #3b82f6;
  border-radius: 1rem;
}

.rsiBar::-moz-progress-bar {
  background-color: #3b82f6;
}

.info {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-normal);
  color: #6b7280;
  margin: 0.2rem 0;
}

.signalTypeInfo {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-bold);
  color: #6b7280;
}

.hold {
  color: #3b82f6;
}

.bottomLine {
  height: 0.2rem;
  border-radius: 1rem;
  background-color: #1f2937;
  margin-top: 0.4rem;
}
