.spaceBetweenContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  margin: 0;
}

.spaceBetweenContainer p {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-bold);
}

.info {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-normal);
  color: #6b7280;
  margin: 0.2rem 0;
}

.signalTypeInfo {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-bold);
  color: #6b7280;
}

.hold {
  color: #3b82f6;
}

.bottomLine {
  height: 0.2rem;
  border-radius: 1rem;
  background-color: #1f2937;
  margin-top: 0.4rem;
}
