.rsiScoreContainer {
  width: 100%;
}

.signalTypeContainer {
  width: 100%;
}

.spaceBetweenBontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

p {
  margin: 0;
}

.rsiBar {
  display: block; /*by default is display: inline, inline elements ignore height and weight properties*/
  width: 100%;
  -webkit-appearance: none; /*same as appearance:none but targhets older browsers*/
  appearance: none; /*without it some browsers may ignore custom colors*/
  overflow: hidden;
  height: 1rem;
  border-radius: 1rem;
  background-color: #1f2937;
  margin: 0.2rem 0;
}

.rsiBar::-webkit-progress-bar {
  background-color: #1f2937;
  height: 1rem;
}

.rsiBar::-webkit-progress-value {
  background-color: #3b82f6;
}

.rsiBar::-moz-progress-bar {
  background-color: #3b82f6;
}

.info {
  font-size: 0.7rem;
  font-weight: 400;
  color: #6b7280;
  margin: 0.2rem 0;
}

.signalTypeInfo {
  font-size: 0.85rem;
  font-weight: 600;
  color: #6b7280;
}

#hold {
  color: #3b82f6;
}

.bottomLine {
  width: 100%;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: #1f2937;
  margin-top: 0.4rem;
}
