.value {
  margin-right: 0.4rem;
  line-height: 1;
}

.valueLineWrapper {
  display: flex;
  justify-content: start;
  align-items: end;
}

.progressBar {
  display: block; /*put it on its own line*/
  width: 100%; /*stretch to fill that line*/
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #1f2937;
  margin: 0.2rem 0;
}

.progressBar::-webkit-progress-bar {
  background-color: #1f2937;
  height: 0.5rem;
}

.progressBar::-webkit-progress-value {
  background-color: #f7931a;
  border-radius: 1rem;
}
.progressBar::-moz-progress-bar {
  background-color: #f7931a;
  margin-bottom: 1rem;
}

.graphicWrapper {
  height: 5rem;
  overflow: hidden;
}
