#dominancePerc {
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 0.4rem;
  line-height: 1;
}

#info {
  font-size: 0.7rem;
  font-weight: 400;
  color: #6b7280;
}

#dominanceLine {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: end;
}

#dominanceBar {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #1f2937;
  margin: 0.2rem 0;
}

#dominanceBar::-webkit-progress-bar {
  background-color: #1f2937;
  height: 0.5rem;
}

#dominanceBar::-webkit-progress-value {
  background-color: #f7931a;
  border-radius: 1rem;
}
#dominanceBar::-moz-progress-bar {
  background-color: #f7931a;
}
