#dashboardGrid {
  display: grid;
  grid-template-rows: auto 16rem 16rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.item1 {
  grid-area: 1/1/2/5;
}

.item2 {
  grid-area: 2/1/3/2;
}

.item3 {
  grid-area: 2/2/3/3;
}

.item4 {
  grid-area: 2/3/3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item5 {
  grid-area: 2/4/3/5;
}

.item6 {
  grid-area: 3/1/4/3;
}

.item7 {
  grid-area: 3/3/4/4;
}
