#dashboardGrid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.item {
  width: 100%;
}

.item1 {
  flex-grow: 1;
  grid-area: 1/1/2/5;
}

.item2 {
  grid-area: 2/1/3/2;
}

.item3 {
  grid-area: 2/2/3/3;
}

.item4 {
  grid-area: 2/3/3/4;
  align-self: center;
  width: 100%;
}

.item5 {
  grid-area: 2/4/3/5;
}

.item6 {
  grid-area: 3/3/4/4;
}
