#longShortBar {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  height: 1rem;
  border-radius: 1rem;
  background-color: #ef4444;
  margin: 0.2rem 0;
}

#longShortBar::-webkit-progress-bar {
  background-color: #ef4444;
  height: 1rem;
}

#longShortBar::-webkit-progress-value {
  background-color: #22c55e;
}
#longShortBar::-moz-progress-bar {
  background-color: #22c55e;
}

.spaceBetweenContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.percentage {
  font-size: 0.8rem;
  font-weight: 700;
}

#longPerc {
  color: #22c55e;
}

#shortPerc {
  color: #ef4444;
}

#rsiRatio {
  color: #f5f5f5;
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#sentiment {
  font-size: 0.85rem;
  color: #6b7280;
}

#sentimentValue {
  font-weight: 700;
  color: #f5f5f5;
}
