.totalLiqContainer {
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 1rem;
}

.totalLiqValueMargin {
  margin-right: 0.4rem;
  line-height: 1;
}

.splitLiqLabelMargin {
  margin-top: 0.8rem;
}
