.cardWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  background-color: var(--background-gray);
}

.dataSrcBtnWrapper {
  display: flex;
  width: fit-content;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0.2rem;
  gap: 0.5rem;
  background-color: var(--color-dark-gray);
  border-radius: 24px;
}

.btnDataSrc {
  border-radius: 24px;
  padding: 0.7rem 1.5rem;
  font-size: var(--font-base);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
}

.btnQuery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 35%;
  align-self: flex-end;
  border-radius: 24px;
  padding: 0.9rem;
  font-size: var(--font-base);
  background-color: var(--color-btn-active);
}

.active {
  color: var(--color-btn-inactive);
  background-color: var(--color-white);
}

.inactive {
  color: var(--color-light-gray);
  background-color: var(--color-dark-gray);
}

.inputsRowWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--color-light-gray);
}

.searchIcon {
  color: red;
}
