.spaceBetweenContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.percentage {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-bold);
}

.longPerc {
  color: #22c55e;
}

.shortPerc {
  color: #ef4444;
}

.longShortRatio {
  color: #f5f5f5;
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.sentiment {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-normal);
  color: #6b7280;
}

.sentimentValue {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-bold);
  color: #f5f5f5;
}
