#card {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.05);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  margin: 0;
  padding: 1.5rem;
}

#title {
  margin: 0;
  padding: 0;
  font-size: var(--font-base);
  font-weight: var(--font-weight-normal);
  margin-bottom: 0.3rem;
}

#value {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-bold);
}

#explanation {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-normal);
  color: #6b7280;
}
