.lightGray {
  color: var(--color-light-gray);
}

.inputsWrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.inputsWrapper input {
  width: 100%;
  height: 2.8rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  border-radius: 10px;
  font-size: var(--font-lg);
}

.inputsWrapper input:focus {
  outline: 0.1rem solid var(--color-purple);
}

.dash {
  margin: 0;
  padding: 0;
}

.btnQuery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 35%;
  align-self: flex-end;
  border-radius: 24px;
  padding: 0.9rem;
  font-size: var(--font-base);
  background-color: var(--color-btn-active);
}

.inputsRowWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--color-light-gray);
}
