.navbarWrapper {
  display: flex;
  margin-bottom: 2rem;
  padding: 0.2rem;
  background-color: #13142b;
  border-radius: 32px;
}

.btnNavbar {
  border-radius: 24px;
  padding: 0.7rem 1.5rem;
  font-size: var(--font-lg);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
}

.btnActive {
  background-color: var(--color-btn-active);
}

.btnInactive {
  background-color: var(--color-btn-inactive);
  color: var(--color-gray);
}
