.navbarWrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  background-color: #13142b;
  border-radius: 15px;
}

.btn {
  border: none;
  border-radius: 10px;
  font-size: var(--font-lg);
}

.active {
  background-color: #7c6fff;
}

.inactive {
  background-color: #13142b;
}

.link {
  text-decoration: none;
  color: var(--text-white);
}
