.navbarWrapper {
  composes: cardBase from "../../styles/utilities.module.css";
  margin-bottom: 2rem;
  padding: 0.8rem 0.5rem;
  gap: 5rem;
  background-color: #13142b;
  border-radius: 15px;
}

.btn {
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 0.4rem 1rem;
  font-size: var(--font-lg);
  color: var(--text-white);
  font-weight: 600;
}

.active {
  background-color: #7c6fff;
}

.inactive {
  background-color: #13142b;
  color: var(--color-gray);
}
