.menuWrapper {
  display: flex;
  padding: 0.2rem;
  border-radius: 32px;
}

.btnNavbar {
  border-radius: 24px;
  padding: 0.7rem 1.5rem;
  font-size: var(--font-base);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
}

.btnActive {
  background-color: var(--color-btn-active);
}

.btnInactive {
  color: var(--color-gray);
}

.navbarWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 4rem;
}

.btnContentWrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
