.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.compContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  margin: 0;
  padding: 1.5rem;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  position: relative;
}

.compContainer:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.1);
}

#nameInnerContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.nameRowOne {
  display: flex;
  justify-content: center;
  align-items: end;
}

.nameRowOne p {
  margin: 0;
}

.nameRowTwo {
  display: flex;
  justify-content: start;
  gap: 0.8rem;
}

#btcIcon {
  width: 5rem;
  height: 5rem;
  padding-right: 1rem;
}

.nameStyle {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1;
}

.symbolStyle {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(107 114 128);
  padding-left: 0.7rem;
}

.metaBadge {
  padding: 0.15rem 0.45rem 0.1rem 0.4rem;
  background-color: #1f2937;
  border-radius: 6px;
}

.metaBadge p {
  margin: 0;
  padding: 0;
  color: #9ca3af;
  font-size: 0.75rem;
  font-weight: 600;
}

#priceStyle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.priceContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.4rem;
}

.priceContainer p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.priceBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.15rem 0.45rem 0.1rem 0.4rem;
  color: #f87171;
  gap: 0.5rem;
  background-color: rgba(239, 68, 68, 0.1);
  border-radius: 1rem;
}

#trendSvg {
  color: #f87171;
}

#upBadge {
  color: #71f893;
}
#downBadge {
  color: #f87171;
}

.seeChartsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4f46e5, #9333ea);
  padding: 0.75rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.seeChartsBtn:hover {
  opacity: 0.8;
}
