.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.nameInnerContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.nameRowOne {
  display: flex;
  justify-content: center;
  align-items: end;
}

.nameRowOne > p {
  margin: 0;
}

.nameRowTwo {
  display: flex;
  justify-content: start;
  gap: 0.8rem;
}

.btcIcon {
  height: 5rem;
  padding-right: 1rem;
}

.name {
  font-size: var(--font-2xl);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.025em;
  line-height: 1;
}

.symbol {
  font-size: var(--font-base);
  font-weight: var(--font-weight-normal);
  color: var(--color-gray);
  padding-left: 0.7rem;
}

.metaBadge {
  padding: 0.15rem 0.45rem 0.1rem 0.4rem;
  background-color: #1f2937;
  border-radius: 6px;
}

.metaBadge > p {
  margin: 0;
  padding: 0;
  color: #9ca3af;
  font-size: var(--font-sm);
  font-weight: var(--font-weight-bold);
}

.priceStyle {
  font-size: var(--font-3xl);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  margin: 0;
}

.priceContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.4rem;
}

.priceBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.15rem 0.45rem 0.1rem 0.4rem;
  color: #f87171;
  gap: 0.5rem;
  background-color: rgba(239, 68, 68, 0.1);
  border-radius: 1rem;
}

.trendSvg {
  color: #f87171;
}

.upBadge {
  color: #71f893;
}
.downBadge {
  color: #f87171;
}

.btnSeeCharts {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4f46e5, #9333ea);
  padding: 0.75rem;
  border-radius: 0.75rem;
  gap: 0.5rem;
  cursor: pointer;
  transition: opacity 0.2s;
  font-size: var(--font-base);
  font-weight: var(--font-weight-bold);
}

.seeChartsBtn:hover {
  opacity: 0.8;
}
