.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  margin: 0;
  padding: 1.5rem;
}

#title {
  text-align: left;
  font-size: 1rem;
}
