.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.heatmapCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.subtitle {
  font-size: var(--font-sm);
  color: var(--color-gray);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
