.label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--color-light-gray);
}

.btnWrapper {
  display: flex;
  width: fit-content;
  justify-content: center;
  padding: 0.2rem;
  gap: 0.5rem;
  background-color: var(--color-dark-gray);
  border-radius: 24px;
}

.btn {
  border-radius: 24px;
  padding: 0.7rem 1.5rem;
  font-size: var(--font-base);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
}

.btnActive {
  color: var(--color-btn-inactive);
  background-color: var(--color-white);
}

.btnInactive {
  color: var(--color-light-gray);
  background-color: var(--color-dark-gray);
}
