/*Fallback track (background)*/
.progressBar {
  display: block; /*Inputs are inline*/
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0.2rem 0;
  background: linear-gradient(90deg, #d37503, #4b5d7c, #6347a3); /*fallback track background*/
  accent-color: #fef6ec; /*thumb color*/
}

/*Track background*/
.progressBar::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #d37503, #4b5d7c, #6347a3);
}

/*Track background*/
.progressBar::-moz-range-track {
  background: linear-gradient(90deg, #d37503, #4b5d7c, #6347a3);
}

.primaryValue {
  color: #f7931a;
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.secondaryValue {
  color: #6b7280;
  font-size: var(--font-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

/* Rule: width: 100% is redundant on div/p/section (block-level elements), but required on input/progress/img/canvas (replaced elements) if you want them to stretch. */
