.icon {
  width: 20%;
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(0 0 0.75rem #f7931a);
  /* filter: drop-shadow(0 0 0.75rem #ffd700);
  filter: drop-shadow(0 0 0.75rem #00d4ff); */
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
